html { 
    height: auto;
    margin: 0;
}

body {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 87, 121);
    height: auto;
}

nav {
    margin: 0px;
    padding: 0px;
    height: 5vw;
    background-color: grey;
    list-style-type: none;
    overflow: hidden;
}

nav a {
    background-color: rgb(85, 85, 85);
    height: 100%;
    width: 20%;
    padding: 2% 0;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: black;
}

#home {
    margin-left: 20%;
}

#mainpage-home {
    height: auto;
    min-height: 100%;
}

.header-image-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0px;
    font-weight: bold;
}

.header-image {
    width: 100%;
    height: auto;
}

#pageheader-home {
    position: absolute;
    top: 23%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    height: auto;
}

#pageheader-home2 {
    position: absolute;
    top: 54%;
    left: 21%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    height: auto;
}

.bar {
    width: 100%;
    height: 20px;
    position: relative;
    margin: -4px 0 0px 0;
    background-color: rgb(0, 70, 0);
}

.bar-decor {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(0, 56, 0);
}

#p1-wrapper {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: rgb(0, 148, 0);
    margin: 0px;
    z-index: 999;
}

#p1-tbox {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 55%;
}

#p1-decor {
    position: absolute;
    background-color: rgb(0, 235, 0);
    width: 90%;
    height: 60%;
    padding: 25px;
    left: 5%;
    top: 15%;
}

#p1-text {
    position: absolute;
    background-color: rgb(0, 78, 0);
    width: 90%;
    height: auto;
    padding: 25px;
    left: 10%;
    top: 10%;
    z-index: 10;
}

#p1-text h2 {
    font-size: 22pt;
}

#p1-text p {
    font-size: 16pt;
}

#p1-image {
    background-color: rgb(146, 0, 0);
    position: absolute;
    height: 80%;
    width: auto;
    padding: 10px;
    top: 10%;
    right: 10%;
    z-index: -1;
}

#p2-wrapper {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: rgb(0, 126, 0);
    margin: 0px;
}

#p2-image {
    background-color: rgb(146, 0, 0);
    position: absolute;
    display: inline-block;
    height: 70%;
    width: auto;
    padding: 10px;
    top: 10%;
    left: 5%;
    z-index: 1;
}

#p2-tbox {
    position: absolute;
    display: inline-block;
    right: 0%;
    height: 100%;
    width: 45%;
}

#p2-decor {
    position: absolute;
    background-color: rgb(0, 235, 0);
    width: 90%;
    height: 60%;
    padding: 25px;
    right: 5%;
    top: 20%;
}

#p2-text {
    position: absolute;
    background-color: rgb(0, 78, 0);
    width: 90%;
    height: auto;
    padding: 25px;
    right: 10%;
    top: 10%;
    z-index: 10;
}

#p2-text h2 {
    font-size: 22pt;
}

#p2-text p {
    font-size: 16pt;
}

#form-wrapper {
    height: auto;
    margin: 0px;
    overflow: hidden;
    background-color: chartreuse;
}

form {
    height: auto;
    background-color: rgb(0, 58, 3);
    font-size: 14pt;
    margin: 20px;
    padding-bottom: 20px;
}

form h2 {
    font-size: 22pt;
    text-align: center;
    padding-top: 10px;
}

#form-left {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 50%;
}

#form-right {
    position: absolute;
    display: inline-block;
    right: 0%;
    height: 100%;
    width: 50%;
}

label {
    margin-left: 50px;
}

input {
    width: 50%;
}

.flwlbl {
    margin-left: 0px;
}

#flwupy, #flwupn {
    margin-left: 60px;
    width: auto;
}

#attach {
    margin-left: 50px;
}

#msg {
    margin-left: 0;
}

#tbody {
    display: block;
    width: 80%;
    height: 100px;
    margin-left: 0px;
}

#sbutton {
    position: absolute;
    left: auto;
    right: 25%;
    top: 25%;
    border-style: none;
    border-radius: 20px;
    background-color: red;
    width: 50%;
    height: 50px;
    color: white;
    font-size: 22pt;

}

.rqd {
    color: red;
}

footer {
    background-color: grey;
    color: white;
    width: 100%;
    overflow: hidden;
}

footer p {
    margin-left: 10px;
}

#mainpage-about {
    height: auto;
    min-height: 100%;
}

#pageheader-about {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    height: auto;
}

#qna-about {
    background-color: green;
    margin: -20px 0;
    padding: 20px;
}

#qna-about p {
    font-size: 16pt;
}

#qna-about h2 {
    font-size: 24pt;
}

.right-question {
    text-align: right;
}

#mainpage-projects {
    height: auto;
    min-height: 100%;
}

#pageheader-projects {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    height: auto;
}

#gallery-projects {
    background-color: green;
    margin-bottom: -20px;
}

#project1 {
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    background-color: darkgreen;
    border-radius: 20px;
}

#project1 img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project1 p {
    background-color: rgb(0, 59, 0);
    padding: 15px;
    border-radius: 20px;
}

#project2 {
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    background-color: darkgreen;
    border-radius: 20px;
}

#project2 img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project2 p {
    background-color: rgb(0, 59, 0);
    padding: 15px;
    border-radius: 20px;
}

#project3 {
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    background-color: darkgreen;
    border-radius: 20px;
}

#project3 img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project3 p {
    background-color: rgb(0, 59, 0);
    padding: 15px;
    border-radius: 20px;
}

#project4 {
    width: 40%;
    margin-left: 5%;
    padding: 20px;
    background-color: darkgreen;
    border-radius: 20px;
}

#project4 img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project4 p {
    background-color: rgb(0, 59, 0);
    padding: 15px;
    border-radius: 20px;
}