body {
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
}

nav {
    margin: 0px;
    padding: 0px;
    height: 60px;
    background-color: grey;
    list-style-type: none;
    overflow: hidden;
}

nav a {
    background-color: rgb(85, 85, 85);
    height: 100%;
    width: 20%;
    padding: 19px 0;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: black;
}

#home {
    margin-left: 20%;
}

.header-image-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0px;
    font-weight: bold;
}

.header-image {
    width: 100%;
    height: auto;
}

#pageheader-home {
    position: absolute;
    top: 23%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}

#pageheader-home2 {
    position: absolute;
    top: 54%;
    left: 21%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
}

.bar {
    width: 100%;
    height: 20px;
    position: relative;
    margin: -4px 0 -18px 0;
    background-color: rgb(0, 70, 0);
}

.bar-decor {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(0, 56, 0);
}

#p1-wrapper {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: rgb(0, 148, 0);
    margin: 0px;
}

#p1-tbox {
    background-color: rgb(0, 78, 0);
    position: relative;
    height: 100%;
    width: 50%;
}

#p1-decor {
    position: absolute;
    background-color: lime;
    width: 100px;
    height: 100px;
    left: 20px;
    top: 20px;
}

#p1-text {
    position: absolute;
    background-color: limegreen;
    left: 20px;
    top: 20px;
}

#p2-wrapper {
    width: 100%;
    height: auto;
    background-color: rgb(0, 114, 0);
    margin: 0px;
    padding: 0%;
}

footer {
    background-color: grey;
}