body {
    font-family: "Freight Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    background-color:  #edf0f5;
    color: #4e4e4e;
    vertical-align: auto;
}

h1 {
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    margin-bottom: -15px;
    color: rgb(46, 46, 46);
}

div {
    width: 320px;
    margin: auto;
}

#first_name {
    height: 24px;
    width: 132px;
    font-size: 11pt;
    padding-left: 8px;
    margin-right: 5px;
    margin-bottom: 7px;
    border-radius: 4px;
    border-color: rgb(196, 196, 196);
    border-width: 2px;
    border-style: solid;
}

#last_name {
    height: 24px;
    width: 132px;
    font-size: 11pt;
    padding-left: 8px;
    border-radius: 4px;
    border-color: rgb(196, 196, 196);
    border-width: 2px;
    border-style: solid;
}

#myemail {
    height: 24px;
    width: 288px;
    font-size: 11pt;
    padding-left: 8px;
    margin-bottom: 7px;
    border-radius: 4px;
    border-color: rgb(196, 196, 196);
    border-width: 2px;
    border-style: solid;
}

#reemail {
    height: 24px;
    width: 288px;
    font-size: 11pt;
    padding-left: 8px;
    margin-bottom: 7px;
    border-radius: 4px;
    border-color: rgb(196, 196, 196);
    border-width: 2px;
    border-style: solid;
}

#mypassword {
    height: 24px;
    width: 288px;
    font-size: 11pt;
    padding-left: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-color: rgb(196, 196, 196);
    border-width: 2px;
    border-style: solid;
}

#bday {
    font-weight: bold;
}

#day {
    background: rgb(230, 230, 230);
    height: 25px;
    border-radius: 4px;
    border-color: rgb(83, 83, 83);
}

#month {
    background: rgb(230, 230, 230);
    height: 25px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-color: rgb(83, 83, 83);
}

#year {
    background: rgb(230, 230, 230);
    height: 25px;
    border-radius: 4px;
    border-color: rgb(83, 83, 83);
}

#why {
    display: inline;
    font-size: 9pt;
    float: right;
}

.option {
    font-weight: bold;
}

#terms {
    font-size: 9pt;
}

#signupbutton {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 16pt;
    background-color: #659d50;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    border-color: #383838;
    border-width: 1px;
    border-style: solid;
}

