.image {
    width: 200px;
}

.video {
    width: 400px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.jpg");
    background-position: center;
    background-size: auto;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: lightgreen;
}

table {
    margin-left: auto;
    margin-right: auto;
}

caption {
    text-align: center;
}