.image {
    width: 200px;
}

.video {
    width: 200px;
}

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background: lightgreen;
}