p, li {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Lucida Sans Unicode';
    color: #A4A400;
    background-color: #F0F0F0;
    font-size: 22pt;
    text-align: center;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-size: 18pt;
    text-align: left;
}

a {
    color: #A4A400;
}

#copyright {
    font-family: monospace;
}

#quote {
    background-color: #A4A400;
}