body {
    font-family: "Freight Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    background-color:  #edf0f5;
    color: #4e4e4e;
}

h1 {
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    margin-bottom: -15px;
    color: rgb(46, 46, 46);
}

div {
    width: 320px;
    margin: auto;
}

#first_name {
    height: 24px;
    width: 132px;
    font-size: 11pt;
    padding-left: 8px;
    margin-right: 5px;
    margin-bottom: 7px;
    border-radius: 4px;
    border-color: rgb(212, 210, 210);
}

#last_name {
    height: 24px;
    width: 132px;
    font-size: 11pt;
    padding-left: 8px;
    border-radius: 4px;
    border-color: rgb(212, 210, 210);
}

#myemail {
    height: 24px;
    width: 288px;
    font-size: 11pt;
    padding-left: 8px;
    margin-bottom: 7px;
    border-radius: 4px;
    border-color: rgb(212, 210, 210);
}

#reemail {
    height: 24px;
    width: 288px;
    font-size: 11pt;
    padding-left: 8px;
    margin-bottom: 7px;
    border-radius: 4px;
    border-color: rgb(212, 210, 210);
}

#mypassword {
    height: 24px;
    width: 288px;
    font-size: 11pt;
    padding-left: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-color: rgb(212, 210, 210);
}

#bday {
    font-weight: bold;
}

#day {
    background: rgb(230, 230, 230);
    height: 25px;
    border-radius: 4px;
}

#month {
    background: rgb(230, 230, 230);
    height: 25px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#year {
    background: rgb(230, 230, 230);
    height: 25px;
    border-radius: 4px;
}

#why {
    display: inline;
    font-size: 9pt;
    float: right;
}

.option {
    font-weight: bold;
}

#terms {
    font-size: 9pt;
}

#signupbutton {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    background-color: #659d50;
    width: 160px;
    height: 40px;
    border-radius: 7px;
    border-color: #659d50;
}

