p, li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040;
    font-size: 11pt;
}

h1 {
    font-family: 'Lucida Sans Unicode';
    color: #A4A400;
    background-color: #F0F0F0;
    font-size: 22pt;
    text-align: center;
}

h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-size: 18pt;
    text-align: left;
}

a {
    color: #A4A400;
}

#copyright {
    font-family: monospace;
}

.quote {
    background-color: #ffff7f;
}

.ttip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}
  
.ttip .text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
}
  
.ttip:hover .text {
    visibility: visible;
}